@charset "UTF-8";
@font-face {
  font-family: Lora;
  font-display: swap;
  src: url("../fonts/Lora-Regular.woff2") format("woff2"), url("../fonts/Lora-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Oxygen;
  font-display: swap;
  src: url("../fonts/Oxygen-Regular.woff2") format("woff2"), url("../fonts/Oxygen-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #2E2E2E;
  line-height: 1;
  font-family: "Oxygen";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Oxygen";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 58.75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  font-size: 1.25rem;
  line-height: 1.35;
  letter-spacing: 0.1rem;
  position: relative;
  width: 10rem;
}
.title::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 115%;
  bottom: -0.9375rem;
  left: -0.9375rem;
  background-color: #DEDEDE;
}

.header {
  background: url("../img/bg.jpg") center/cover no-repeat;
  height: 500px;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.0625rem;
}
.top-header:not(:last-child) {
  margin-bottom: 8.125rem;
}
.top-header__logo {
  width: 5.75rem;
}
.top-header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header__item {
  margin: 0 0.9375rem;
}
.top-header__link {
  line-height: 1.1111111111;
  letter-spacing: 0.1rem;
  color: #fff;
  transition: all 0.4s linear;
}
@media (min-width: 120em) {
  .top-header__link {
    font-size: 1.125rem;
  }
}
@media (min-width: 48em) and (max-width: 120em) {
  @supports (font-size: clamp( 1rem , 0.9166666667rem  +  0.1736111111vw , 1.125rem )) {
    .top-header__link {
      font-size: clamp( 1rem , 0.9166666667rem  +  0.1736111111vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9166666667rem  +  0.1736111111vw , 1.125rem )) {
    .top-header__link {
      font-size: calc(1rem + 0.125 * (100vw - 48rem) / 72);
    }
  }
}
@media (max-width: 48em) {
  .top-header__link {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .top-header__link:hover {
    color: #b66232;
  }
}
.top-header__link--active {
  color: #DD783F;
  border-bottom: 2px solid #DD783F;
}

.body-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  text-align: center;
  padding: 0px 10px;
}
.body-header__title {
  font-family: "Lora";
  line-height: 1.02;
  color: #fff;
}
@media (min-width: 60.625em) {
  .body-header__title {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 60.625em) {
  @supports (font-size: clamp( 2rem , 1.4461538462rem  +  2.7692307692vw , 3.125rem )) {
    .body-header__title {
      font-size: clamp( 2rem , 1.4461538462rem  +  2.7692307692vw , 3.125rem );
    }
  }
  @supports not (font-size: clamp( 2rem , 1.4461538462rem  +  2.7692307692vw , 3.125rem )) {
    .body-header__title {
      font-size: calc(2rem + 1.125 * (100vw - 20rem) / 40.625);
    }
  }
}
@media (max-width: 20em) {
  .body-header__title {
    font-size: 2rem;
  }
}
.body-header__title:not(:last-child) {
  margin-bottom: 0.4em;
}
.body-header__subtitle {
  line-height: 1.1111111111;
  color: rgba(255, 255, 255, 0.63);
}
@media (min-width: 60.625em) {
  .body-header__subtitle {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 60.625em) {
  @supports (font-size: clamp( 1rem , 0.9384615385rem  +  0.3076923077vw , 1.125rem )) {
    .body-header__subtitle {
      font-size: clamp( 1rem , 0.9384615385rem  +  0.3076923077vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9384615385rem  +  0.3076923077vw , 1.125rem )) {
    .body-header__subtitle {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 40.625);
    }
  }
}
@media (max-width: 20em) {
  .body-header__subtitle {
    font-size: 1rem;
  }
}
.body-header__subtitle:not(:last-child) {
  margin-bottom: 2.2222222222em;
}
.body-header__button {
  color: #fff;
  background-color: #DD783F;
  padding: 0.75rem 1.875rem;
  font-size: 0.875rem;
  border-radius: 5px;
  transition: all 0.4s linear;
}
@media (any-hover: hover) {
  .body-header__button:hover {
    background-color: #b66232;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #DD783F;
    z-index: 4;
    justify-content: column;
    transition: left 0.4s linear;
  }
  .menu__body .top-header__list {
    flex-direction: column;
    padding: 20px;
  }
  .menu__body .top-header__item {
    padding: 0.9375rem 0.625rem;
  }
  .menu__body .top-header__link {
    font-size: 1.625rem;
  }
  .menu-open .menu__body {
    left: 0;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: white;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background: url("../img/footer-bg.jpg") bottom/cover no-repeat;
}
.footer__title {
  color: #fff;
  margin: 0 auto;
}
@media (min-width: 60.625em) {
  .footer__title {
    padding-top: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 60.625em) {
  @supports (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .footer__title {
      padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .footer__title {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
  }
}
@media (max-width: 20em) {
  .footer__title {
    padding-top: 1.875rem;
  }
}
.footer__form {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 60.625em) {
  .footer__form {
    padding-bottom: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 60.625em) {
  @supports (padding-bottom: clamp( 2.5rem , 0.9615384615rem  +  7.6923076923vw , 5.625rem )) {
    .footer__form {
      padding-bottom: clamp( 2.5rem , 0.9615384615rem  +  7.6923076923vw , 5.625rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.5rem , 0.9615384615rem  +  7.6923076923vw , 5.625rem )) {
    .footer__form {
      padding-bottom: calc(2.5rem + 3.125 * (100vw - 20rem) / 40.625);
    }
  }
}
@media (max-width: 20em) {
  .footer__form {
    padding-bottom: 2.5rem;
  }
}
.footer__wrap {
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__input {
  height: 50px;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  border: none;
}
@media (min-width: 48em) {
  .footer__input {
    padding-left: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-left: clamp( 0.9375rem , 0.0446428571rem  +  4.4642857143vw , 2.1875rem )) {
    .footer__input {
      padding-left: clamp( 0.9375rem , 0.0446428571rem  +  4.4642857143vw , 2.1875rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , 0.0446428571rem  +  4.4642857143vw , 2.1875rem )) {
    .footer__input {
      padding-left: calc(0.9375rem + 1.25 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .footer__input {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 48em) {
  .footer__input {
    padding-right: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-right: clamp( 0.9375rem , 0.0446428571rem  +  4.4642857143vw , 2.1875rem )) {
    .footer__input {
      padding-right: clamp( 0.9375rem , 0.0446428571rem  +  4.4642857143vw , 2.1875rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , 0.0446428571rem  +  4.4642857143vw , 2.1875rem )) {
    .footer__input {
      padding-right: calc(0.9375rem + 1.25 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .footer__input {
    padding-right: 0.9375rem;
  }
}
.footer__input:focus {
  outline: none;
}
.footer__btn {
  display: flex;
  align-items: center;
  color: #fff;
  height: 50px;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  background-color: rgba(255, 255, 255, 0.28);
  transition: all 0.4s linear;
}
@media (min-width: 48em) {
  .footer__btn {
    padding-left: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-left: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem )) {
    .footer__btn {
      padding-left: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem )) {
    .footer__btn {
      padding-left: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .footer__btn {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 48em) {
  .footer__btn {
    padding-right: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-right: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem )) {
    .footer__btn {
      padding-right: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , -0.1785714286rem  +  5.5803571429vw , 2.5rem )) {
    .footer__btn {
      padding-right: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .footer__btn {
    padding-right: 0.9375rem;
  }
}
@media (any-hover: hover) {
  .footer__btn:hover {
    background-color: rgba(0, 0, 0, 0.382);
  }
}
.sub-footer {
  background-color: rgba(35, 47, 56, 0.6);
}
.sub-footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 0.9375rem;
}
.sub-footer__list {
  display: flex;
  flex-direction: row;
}
@media (max-width: 47.99875em) {
  .sub-footer__list {
    flex-direction: column;
  }
}
.sub-footer__item {
  margin: 0 0.625rem;
}
.sub-footer__link {
  font-size: 1rem;
  line-height: 1.6875;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.4s linear;
}
@media (any-hover: hover) {
  .sub-footer__link:hover {
    color: #DD783F;
  }
}

.category__menu {
  padding: 1.375rem 0px;
}
.category__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 0.625rem;
}
.category__link {
  font-family: "Lora", serif;
  line-height: 1;
  padding: 0px 0.625rem;
  transition: all 0.4s linear;
}
@media (min-width: 60.625em) {
  .category__link {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 60.625em) {
  @supports (font-size: clamp( 1.125rem , 1.0634615385rem  +  0.3076923077vw , 1.25rem )) {
    .category__link {
      font-size: clamp( 1.125rem , 1.0634615385rem  +  0.3076923077vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0634615385rem  +  0.3076923077vw , 1.25rem )) {
    .category__link {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 40.625);
    }
  }
}
@media (max-width: 20em) {
  .category__link {
    font-size: 1.125rem;
  }
}
@media (any-hover: hover) {
  .category__link:hover {
    color: #DD783F;
  }
}

.post {
  background-color: #F7F7F7;
}
@media (min-width: 60.625em) {
  .post {
    padding-top: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 60.625em) {
  @supports (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .post {
      padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .post {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
  }
}
@media (max-width: 20em) {
  .post {
    padding-top: 1.875rem;
  }
}
.post__title {
  margin: 0 auto;
  margin-bottom: 3.125rem;
}
.post__body {
  display: flex;
  justify-content: space-between;
  gap: 0.9375rem;
}
@media (max-width: 61.99875em) {
  .post__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.item-post {
  position: relative;
}
.item-post__image-ibg {
  border-radius: 3px;
  width: 100%;
  max-width: 28.75rem;
}
.item-post__body {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 1.25rem 0.9375rem;
}
.item-post__title {
  font-family: "Lora", serif;
  line-height: 1.1111111111;
  color: #fff;
  margin-bottom: 0.625rem;
}
@media (min-width: 62em) {
  .item-post__title {
    font-size: 1.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 62em) {
  @supports (font-size: clamp( 1.25rem , 1.0416666667rem  +  1.0416666667vw , 1.6875rem )) {
    .item-post__title {
      font-size: clamp( 1.25rem , 1.0416666667rem  +  1.0416666667vw , 1.6875rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.0416666667rem  +  1.0416666667vw , 1.6875rem )) {
    .item-post__title {
      font-size: calc(1.25rem + 0.4375 * (100vw - 20rem) / 42);
    }
  }
}
@media (max-width: 20em) {
  .item-post__title {
    font-size: 1.25rem;
  }
}
.item-post__subtitle {
  line-height: 1.6875;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0.625rem;
}
@media (min-width: 62em) {
  .item-post__subtitle {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 62em) {
  @supports (font-size: clamp( 0.75rem , 0.630952381rem  +  0.5952380952vw , 1rem )) {
    .item-post__subtitle {
      font-size: clamp( 0.75rem , 0.630952381rem  +  0.5952380952vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.630952381rem  +  0.5952380952vw , 1rem )) {
    .item-post__subtitle {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 42);
    }
  }
}
@media (max-width: 20em) {
  .item-post__subtitle {
    font-size: 0.75rem;
  }
}
.item-post__info {
  display: flex;
  justify-content: space-between;
  line-height: 1.6875;
  color: rgba(255, 255, 255, 0.7);
}
@media (min-width: 62em) {
  .item-post__info {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 62em) {
  @supports (font-size: clamp( 0.75rem , 0.6904761905rem  +  0.2976190476vw , 0.875rem )) {
    .item-post__info {
      font-size: clamp( 0.75rem , 0.6904761905rem  +  0.2976190476vw , 0.875rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.6904761905rem  +  0.2976190476vw , 0.875rem )) {
    .item-post__info {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 42);
    }
  }
}
@media (max-width: 20em) {
  .item-post__info {
    font-size: 0.75rem;
  }
}
.item-post__name span {
  margin-left: 0.625rem;
}
.recent {
  background-color: #F7F7F7;
}
@media (min-width: 60.625em) {
  .recent {
    padding-top: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 60.625em) {
  @supports (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .recent {
      padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .recent {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
  }
}
@media (max-width: 20em) {
  .recent {
    padding-top: 1.875rem;
  }
}
@media (min-width: 60.625em) {
  .recent {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 60.625em) {
  @supports (padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .recent {
      padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 3.75rem )) {
    .recent {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 40.625);
    }
  }
}
@media (max-width: 20em) {
  .recent {
    padding-bottom: 1.875rem;
  }
}
.recent__title {
  display: flex;
  margin: 0 auto;
}
.recent__title:not(:last-child) {
  margin-bottom: 3.125rem;
}
.recent__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
  gap: 1.25rem;
}
.recent__item {
  transition: all 0.4s linear;
}
@media (any-hover: hover) {
  .recent__item:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

.item-recent {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.item-recent__image-ibg {
  width: 100%;
}
.body-top {
  background-color: #fff;
  min-height: 5.9375rem;
  flex: 1 1 auto;
}
.body-top__info {
  padding: 0.9375rem 0.8125rem;
}
.body-top__title {
  font-family: "Lora", serif;
  font-size: 1.125rem;
  line-height: 1.2222222222;
}
.body-top__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.body-top__title a {
  transition: all 0.4s linear;
}
@media (any-hover: hover) {
  .body-top__title a:hover {
    color: #DD783F;
  }
}
.body-top__subtitle {
  font-size: 1rem;
  line-height: 1.1875;
  color: #7a7a7a;
}

.footer-recent {
  background-color: #FCFCFC;
  padding: 0.9375rem 0.8125rem;
  display: flex;
  justify-content: space-between;
}
.footer-recent__name {
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.7857142857;
  color: #999999;
}
.footer-recent__name span {
  margin-left: 0.625rem;
}
@media (any-hover: hover) {
  .footer-recent__name span:hover {
    text-decoration: underline;
  }
}
.footer-recent__date {
  font-size: 0.875rem;
  line-height: 1.7857142857;
  color: #999999;
}
